# Impedir Git de tocar em node_modules
node_modules/** -text

# Forçar LF em todo o código do projeto
*.ts text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.html text eol=lf
*.css text eol=lf

# Manter binários intactos
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
*.ico binary
